:root {
    --White: hsl(0, 0%, 100%);
    --Slate-300: hsl(212, 45%, 89%);
    --Slate-500: hsl(216, 15%, 48%);
    --Slate-900: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    background-color: var(--Slate-300);
    height: 100vh;
    overflow-y: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 270px;
    background-color: var(--White);
    border-radius: 10px;
    padding: 14px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: calc(270px - 28px);
    border-radius: 12px;
    margin-bottom: 25px;
}

.text {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
}

p:nth-of-type(1) {
    color: var(--Slate-900);
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    font-size: large;
}

p:nth-of-type(2) {
    color: var(--Slate-500);
    font-weight: 400;
    font-size: smaller;
    text-align: center;
}

.attribution {
    position: absolute;
    bottom: 0;

    background-color: var(--White);
    padding: 10px;
    border-radius: 20px;
}

@media (max-width:768px) {
    .container{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

}